ClientService1/Connected Services/ServiceReference1/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Car">
    <xs:sequence>
      <xs:element minOccurs="0" name="Desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="is_electric" type="xs:boolean" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" type="xs:int" />
      <xs:element minOccurs="0" name="production_year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Car" nillable="true" type="tns:Car" />
  <xs:complexType name="ArrayOfCar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Car" nillable="true" type="tns:Car" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCar" nillable="true" type="tns:ArrayOfCar" />
</xs:schema>